.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px;
  background: #0066ff;
}

.brand {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 15px;
}

.navbar a {
  text-decoration: none;
  color: #e6f0ff;
  padding: 10px 16px;
  border-radius: 6px;
}

.navbar a:hover {
  color: white;
}
/* =========================================================================================
=/=/=/=/=/=//=/=///=//=/=/=/==/====================/==/=/= */
.searchContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 15px auto 5px 15px;
  padding: 0 20px;
}

.searchBox {
  width: 100%;
  padding: 14px 45px 14px 16px;
  font-size: 15px;
  border: 1px solid #a9c8ff;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
}

.formtitle {
  color: #0066ff;
  margin-bottom: 0;
}

.formpara {
  font-style: italic;
  margin-top: 0;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #a9c8ff;
}

.inputBox,
.textareaBox {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

.inputBox:focus,
.textareaBox:focus {
  border: 1px solid #0066ff;
}

.btn {
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 600;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #0044cc;
}

.editLink {
  top: 20px;
  float: right;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 22px;
  flex-wrap: wrap;
  margin: 30px 35px 30px 40px;
  padding: 0 20px;
}

.card {
  padding: 18px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 0px 3px #c9d9ff;
  border: 1px solid #a9c8ff;
  width: 450px;
  height: 150px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: #0044cc;
}

.cardBody {
  font-size: 14px;
  color: #555;
}

.cardDate {
  font-size: 12px;
  color: #6b7280;
  font-style: italic;
}

.noResult {
  margin: 60px auto;
  font-size: 16px;
  color: #999;
  text-align: center;
  padding: 40px 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}
